html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Times New Roman', Times, serif;
}

.bus-nav {
  width: 100vw;
  height: 64px;
}

.bus-nav{
  background-color: rgb(24, 24, 148);
}
.navbar-brand {
  color: white;
}

body {
  margin-top: 40px;
  width: 100vw;
  min-height: 100vh;
  margin-bottom: 60px;
  color: #000000;
  background-color: white;

}

.result-cont {
  width: 100vw;
  margin: 0;
  padding: 30px 8vw;
  display: grid;
  grid-template-rows: fit-content auto;
}
.result-cont h3 {
  place-self: start center;
}

.result-list {
  list-style: none;
  place-self: start center;
  margin-top: 20px;
}
.result-list li {
  background-color: rgb(42, 42, 211);
  color: white;
  border-radius: 15px;
  padding: 30px 50px;
  display: grid;
  grid-template-areas: 
  "agent facility ."
  "agent facility ."
  "route route price"
  ;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  width: 80vw;
}
.agent {
  grid-area: agent;
}
.from-to {
  grid-area: route;
  display: grid;
  grid-template-columns: 4fr 5fr 13fr;
  place-self: center start;
  font-family: Brush Script MT, cursive ;
}
.from {
  place-self: center end;
}
.from-to i {
  place-self: center center;
  margin: 0 20px;
}
.to {
  place-self: center start;
}
.facility {
  grid-area: facility;
}
.price {
  grid-area: price;
  place-self: start end;
  font-size: larger;
  font-weight: bold;
}